h1{
  text-align: center;
}
.table-world{
  font-size: 18px;
}
.table-world h1{
  font-weight: 700;
  color: rgb(255, 5, 5);
}
.table-detail{
  font-size: 18px;
  font-weight: 600;
}
.table-detail span{
  color: red;
}

.App{
  background-color:rgb(231, 221, 221) ;
  transition: all 6s ease;

}
.search{
  text-align: center;
}

.search input{
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  background-color:transparent;
  
}